In [ ]:
##List Exercise

In [ ]:
## 1
numbers = [1,7,-10,34,2,-8]
total_sum = sum(numbers)
print(f"Sum all the items =  {total_sum}")

Sum all the items =  26

In [ ]:
## 2
numbers2 = [3,4,5,4,7]
product = 1

for num in numbers2:
  product *= num

print(f"Multiplication all the items =  {product}")

Multiplication all the items =  1680

In [ ]:
## 3
numbers3 = [1,7,10,34,2,8]
max_num = max(numbers3)

print(f"Largest number = {max_num}")

Largest number = 34

In [ ]:
##4
numbers4 = [51,7,10,34,2,8]
min_num = min(numbers4)

print(f"Smallest number = {min_num}")

Smallest number = 2

In [ ]:
##5
str1 = ['abc', 'xyz', 'aba', '1221']
count = 0

for string in str1:
  if len(string) >= 2 and string[0] == string[-1]:
    count += 1

print(f"First and Last character are same: {count}")

First and Last character are same: 2

In [ ]:
##6
numbers5 = [1,2,3,7,2,1,5,6,4,8,5,4]
unique_num = set(numbers5)

print(f"unique numbers = {unique_num}")

unique numbers = {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
##7
list1 = [34,45,6,5,4,56,7]

if not list1:
  print("List is empty")
else:
  print("list is not empty")

list is not empty

In [ ]:
##8
list2 = [10, 22, 44, 23, 4]
lists = list2.copy()
print("Clone or copy a list", lists)

Clone or copy a list [10, 22, 44, 23, 4]

In [ ]:
##9
str2 = ['Words', 'Longer', 'given', 'Words']
count = 0
n=4
for string in str2:
  if len(string) > n:
    count += 1

print("words longer than n are:", count)

words longer than n are: 4

In [ ]:
##10
str3 = [1,2,3,4,5]
str4 = [5,6,7,8,9]

common_member = False

for item in str3:
  if item in str4:
    common_member = True
    break

if common_member:
    print("List have atleast one common member")
else:
    print("List do not have common member")

List have atleast one common member