In [ ]:
##List Exercise

In [ ]:
## 1
numbers = [1,7,-10,34,2,-8]
total_sum = sum(numbers)
print(f"Sum all the items =  {total_sum}")

Sum all the items =  26

In [ ]:
## 2
numbers2 = [3,4,5,4,7]
product = 1

for num in numbers2:
  product *= num

print(f"Multiplication all the items =  {product}")

Multiplication all the items =  1680

In [ ]:
## 3
numbers3 = [1,7,10,34,2,8]
max_num = max(numbers3)

print(f"Largest number = {max_num}")

Largest number = 34

In [ ]:
##4
numbers4 = [51,7,10,34,2,8]
min_num = min(numbers4)

print(f"Smallest number = {min_num}")

Smallest number = 2

In [ ]:
##5
str1 = ['abc', 'xyz', 'aba', '1221']
count = 0

for string in str1:
  if len(string) >= 2 and string[0] == string[-1]:
    count += 1

print(f"First and Last character are same: {count}")

First and Last character are same: 2

In [ ]:
##6
numbers5 = [1,2,3,7,2,1,5,6,4,8,5,4]
unique_num = set(numbers5)

print(f"unique numbers = {unique_num}")

unique numbers = {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
##7
list1 = [34,45,6,5,4,56,7]

if not list1:
  print("List is empty")
else:
  print("list is not empty")

list is not empty

In [ ]:
##8
list2 = [10, 22, 44, 23, 4]
lists = list2.copy()
print("Clone or copy a list", lists)

Clone or copy a list [10, 22, 44, 23, 4]

In [ ]:
##9
str2 = ['Words', 'Longer', 'given', 'Words']
count = 0
n=4
for string in str2:
  if len(string) > n:
    count += 1

print("words longer than n are:", count)

words longer than n are: 4

In [ ]:
##10
str3 = [1,2,3,4,5]
str4 = [5,6,7,8,9]

common_member = False

for item in str3:
  if item in str4:
    common_member = True
    break

if common_member:
    print("List have atleast one common member")
else:
    print("List do not have common member")

List have atleast one common member

In [4]:
##11
str5 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

indices_to_remove = {0,4,5}

filtered_list = [animal for i, animal in enumerate(str5) if i not in indices_to_remove]
print(f"new animal list is {filtered_list}")

new animal list is ['Dog', 'Elephant', 'Fox', 'Ponda']

In [8]:
##12
str6 = [7,32,81,20,25,14,23,27]

odd_list = [num for num in str6 if num%2 != 0]

print(f"New list is {odd_list}")

New list is [7, 81, 25, 23, 27]

In [9]:
##13
import random

str7 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

random.shuffle(str7)

print(f"shuffles list is {str7}")

shuffles list is ['Cat', 'Dog', 'Ponda', 'Lion', 'Elephant', 'Fox', 'Tiger']

In [13]:
##14
squares = [i**2 for i in range(1,30)]

first_five = squares[:5]

last_five = squares[-5:]

print(f"first five elements are {first_five}")
print(f"last five elements are {last_five}")

first five elements are [1, 4, 9, 16, 25]
last five elements are [625, 676, 729, 784, 841]

In [14]:
##15
import itertools

numbers = [1,2,3]

permutations = list(itertools.permutations(numbers))
print(f"Permutations of the list is {permutations}")

Permutations of the list is [(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [15]:
##16
str8 = ['T','u','t','o','r',' ','J','o','e','s']

joined_string = ''.join(str8)
print(joined_string)

Tutor Joes

In [16]:
##17
str9 = [20, 70, 30, 90, 10, 30, 90, 10, 80]

to_find = 30
index = str9.index(to_find)

print(f"Index number of an item = {index}")

Index number of an item = 2

In [1]:
##18
lis1 = [[20,30,70],[30,90,10], [30,20], [70,90,10,80]]

flattened_list = [item for sublist in lis1 for item in sublist]

print(f"the flattened list is {flattened_list}")

the flattened list is [20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

In [6]:
##19
lis2 = [10, 20, 30, 40]
lis3 = ["Cat", "Dog", "Lion", "Ponda"]

lis2.extend(lis3)
new_lis = lis2

print(f"The new list is {new_lis}")

The new list is [10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

In [7]:
##20
import random
lis4 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

random_spawn = random.choice(lis4)

print(f"Randomly selected output is {random_spawn}")

Randomly selected output is Tiger

In [ ]:
##21
lis5 = [8, 8, 12, 12, 8]
lis6 = [8, 8, 8, 12, 12]
lis7 = [1, 8, 8, 12, 12]