In [ ]:
##List Exercise

In [ ]:
## 1
numbers = [1,7,-10,34,2,-8]
total_sum = sum(numbers)
print(f"Sum all the items =  {total_sum}")

Sum all the items =  26

In [ ]:
## 2
numbers2 = [3,4,5,4,7]
product = 1

for num in numbers2:
  product *= num

print(f"Multiplication all the items =  {product}")

Multiplication all the items =  1680

In [ ]:
## 3
numbers3 = [1,7,10,34,2,8]
max_num = max(numbers3)

print(f"Largest number = {max_num}")

Largest number = 34

In [ ]:
##4
numbers4 = [51,7,10,34,2,8]
min_num = min(numbers4)

print(f"Smallest number = {min_num}")

Smallest number = 2

In [ ]:
##5
str1 = ['abc', 'xyz', 'aba', '1221']
count = 0

for string in str1:
  if len(string) >= 2 and string[0] == string[-1]:
    count += 1

print(f"First and Last character are same: {count}")

First and Last character are same: 2

In [ ]:
##6
numbers5 = [1,2,3,7,2,1,5,6,4,8,5,4]
unique_num = set(numbers5)

print(f"unique numbers = {unique_num}")

unique numbers = {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
##7
list1 = [34,45,6,5,4,56,7]

if not list1:
  print("List is empty")
else:
  print("list is not empty")

list is not empty

In [ ]:
##8
list2 = [10, 22, 44, 23, 4]
lists = list2.copy()
print("Clone or copy a list", lists)

Clone or copy a list [10, 22, 44, 23, 4]

In [ ]:
##9
str2 = ['Words', 'Longer', 'given', 'Words']
count = 0
n=4
for string in str2:
  if len(string) > n:
    count += 1

print("words longer than n are:", count)

words longer than n are: 4

In [ ]:
##10
str3 = [1,2,3,4,5]
str4 = [5,6,7,8,9]

common_member = False

for item in str3:
  if item in str4:
    common_member = True
    break

if common_member:
    print("List have atleast one common member")
else:
    print("List do not have common member")

List have atleast one common member

In [ ]:
##11
str5 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

indices_to_remove = {0,4,5}

filtered_list = [animal for i, animal in enumerate(str5) if i not in indices_to_remove]
print(f"new animal list is {filtered_list}")

new animal list is ['Dog', 'Elephant', 'Fox', 'Ponda']

In [ ]:
##12
str6 = [7,32,81,20,25,14,23,27]

odd_list = [num for num in str6 if num%2 != 0]

print(f"New list is {odd_list}")

New list is [7, 81, 25, 23, 27]

In [ ]:
##13
import random

str7 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

random.shuffle(str7)

print(f"shuffles list is {str7}")

shuffles list is ['Cat', 'Dog', 'Ponda', 'Lion', 'Elephant', 'Fox', 'Tiger']

In [ ]:
##14
squares = [i**2 for i in range(1,30)]

first_five = squares[:5]

last_five = squares[-5:]

print(f"first five elements are {first_five}")
print(f"last five elements are {last_five}")

first five elements are [1, 4, 9, 16, 25]
last five elements are [625, 676, 729, 784, 841]

In [ ]:
##15
import itertools

numbers = [1,2,3]

permutations = list(itertools.permutations(numbers))
print(f"Permutations of the list is {permutations}")

Permutations of the list is [(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
##16
str8 = ['T','u','t','o','r',' ','J','o','e','s']

joined_string = ''.join(str8)
print(joined_string)

Tutor Joes

In [ ]:
##17
str9 = [20, 70, 30, 90, 10, 30, 90, 10, 80]

to_find = 30
index = str9.index(to_find)

print(f"Index number of an item = {index}")

Index number of an item = 2

In [ ]:
##18
lis1 = [[20,30,70],[30,90,10], [30,20], [70,90,10,80]]

flattened_list = [item for sublist in lis1 for item in sublist]

print(f"the flattened list is {flattened_list}")

the flattened list is [20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

In [ ]:
##19
lis2 = [10, 20, 30, 40]
lis3 = ["Cat", "Dog", "Lion", "Ponda"]

lis2.extend(lis3)
new_lis = lis2

print(f"The new list is {new_lis}")

The new list is [10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

In [ ]:
##20
import random
lis4 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

random_spawn = random.choice(lis4)

print(f"Randomly selected output is {random_spawn}")

Randomly selected output is Tiger

In [ ]:
##21
lis5 = [8, 8, 12, 12, 8]
lis6 = [8, 8, 8, 12, 12]
lis7 = [1, 8, 8, 12, 12]

def if_list_identical(lis5, lis6):
  if len(lis5) != len(lis6):
    return False

  for i in range(len(lis5)):
    rotated_list = lis5[-i:] + lis5[:-1]

    if rotated_list == lis6:
          return True

  return False

print("compare list1 and list2", if_list_identical(lis5, lis6))
print("compare list1 and list3", if_list_identical(lis5, lis7))

compare list1 and list2 True
compare list1 and list3 False

In [ ]:
##22
lis8 = [2,4,56,78,4,34,5,8,9]

def second_smallest_no(lis8):
  unique_numbers = list(set(lis8))

  if len(unique_numbers) < 2:
    return None

  unique_numbers.sort()
  return unique_numbers[1]

second_smallest_number = second_smallest_no(lis8)
print("second smallest number from the list is:", second_smallest_number)

second smallest number from the list is: 4

In [ ]:
##23
lis9 = [82,4,56,78,4,34,5,100,9]

def second_largest(lis9):
  unq_num = list(set(lis9))

  if len(lis9) < 2:
    return None

  unq_num.sort()
  return unq_num[-2]

second_largest_num = second_largest(lis9)
print("second largest number from the list is: ",second_largest_num)

second largest number from the list is:  82

In [ ]:
##24
li1 = [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
uniq_values = list(set(li1))
uniq_values.sort()
print("Original set ",li1)
print("Unique value set ",uniq_values)

Original set  [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
Unique value set  [4, 5, 9, 10, 34, 56, 78, 82]

In [ ]:
##25
from collections import Counter

li2 = [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
frequency = Counter(li2)

print("The frequency of the list is: ", frequency)

The frequency of the list is:  Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

In [ ]:
##26
li3 = ['T', 'J']
N = 10

concatenated_list = [item + str(i) for i in range(1, N+1) for item in li3]
print(concatenated_list)

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

In [ ]:
##27
s = 'Tutor Joes'
x = 30

x_id = id(x)
s_id = id(s)

x_hex = hex(x_id)
s_hex = hex(s_id)

print("x = ",x_id)
print("s = ",s_id)
print("Unique Identification Number :",x_hex)
print("Unique Identification String :",s_hex)

x =  139447979558032
s =  139446698391984
Unique Identification Number : 0x7ed3c3494490
Unique Identification String : 0x7ed376ec39b0

In [ ]:
#28
li4 = [23,45,67,78,89,34]
li5 = [34,89,55,56,39,67]

common_list = set(li4).intersection(set(li5))
print("The common list is: ",common_list)

The common list is:  {89, 34, 67}

In [ ]:
#29
from collections import defaultdict

li6 = ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey","bear"]
grouped_words = defaultdict(list)

for word in li6:
  first_char = word[0].lower()
  grouped_words[first_char].append(word)

for key in sorted(grouped_words):
  print(key.upper())
  for word in grouped_words[key]:
    print(word)

B
bear
C
cat
cow
D
dog
F
Fox
L
lion
M
mouse
monkey
S
Shark
Snake
T
tiger
turtle

In [ ]:
##30
li7 = [1,2,4,3,6,7,5,8,9,7,8,9,10]

odd_numbers = [num for num in li7 if num%2 != 0]
print("The set of odd numbers are: ",odd_numbers)

The set of odd numbers are:  [1, 3, 7, 5, 9, 7, 9]

In [ ]:
##31
li8 = [10, 20, 30, 50, 80, 70, 70, 80, 10]

no_of_uniq_values = len(list(set(li8)))
print("Number of uniques values in the list are ",no_of_uniq_values)

Number of uniques values in the list are  6

In [ ]:
##32
import math

li9 = [2, 1, 2, 4, 6, 4, 3, 2, 1]

unq_val = list(set(li9))
prod = math.prod(unq_val)
print("Duplication removal list product :",prod)

Duplication removal list product : 144

In [ ]:
##33
from collections import Counter
li0 = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
k = 2
frequency = Counter(li0)

result = [item for item, count in frequency.items() if count > 2]
print(f"Elements with frequency greater than {k}: ",result)

Elements with frequency greater than 2:  [4, 3]

In [ ]:
##34
df1 = [4, 5, 6, 7, 3, 9]

start = 3
end = 4

range_set = set(range(start, end+1))

contains_all_in_range = range_set.issubset(set(df1))

print("Does set contains all the values in range? ",contains_all_in_range)

Does set contains all the values in range?  True

In [ ]:
##35
df2 = [18, 18, 18, 6, 3, 4, 9, 9, 9]

unq_vals = list(set(df2))

In [ ]:
##36
df3 = [10,20,30,20,30,400]

def find_the_strongest_neighbour(df3):

  strongest_neighbour = []

  for i in range(len(df3) - 1):
    strongest_neighbour.append(max(df3[i], df3[i+1]))
  return strongest_neighbour

result = find_the_strongest_neighbour(df3)

print("the strongest neighbours are: ",result)

the strongest neighbours are:  [20, 30, 30, 30, 400]

In [ ]:
##37
import itertools
df4 = [1,2,3]
permutations = list(itertools.permutations(df4))

print("The permutations of the followinf set is: ",permutations)

The permutations of the followinf set is:  [(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
##38
from itertools import product
df5 = ['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]

first_element = df5[0]
sublists = df5[1:]

combinations = product(*sublists)

result1 = [[first_element] + list(combination) for combination in combinations]

print("Combinations are: ")

for comb in result1:
  print(comb)

Combinations are:
['Tutor Joes', 'Software', 'Solution']
['Tutor Joes', 'Software', 'Education']
['Tutor Joes', 'Computer', 'Solution']
['Tutor Joes', 'Computer', 'Education']

In [ ]:
##39
from itertools import permutations
df6 = ['A','B','C']
df7 = [1,2,3]

permutation_list = permutations(df7)

unique_combinations = [[(df6[i], p[i]) for i in range(len(df6))] for p in permutation_list]

print("Unique combinations are:")

for combi in unique_combinations:
  print(combi)

Unique combinations are:
[('A', 1), ('B', 2), ('C', 3)]
[('A', 1), ('B', 3), ('C', 2)]
[('A', 2), ('B', 1), ('C', 3)]
[('A', 2), ('B', 3), ('C', 1)]
[('A', 3), ('B', 1), ('C', 2)]
[('A', 3), ('B', 2), ('C', 1)]

In [ ]:
##40
df8 = [1, 3, 4, 6, 5, 1]

def remove_duplicates(df8):
  counts = {}

  for item in df8:
    counts[item] = counts.get(item, 0) + 1

  result3 = [item for item in df8 if counts[item] == 1]

  return result3

result3 = remove_duplicates(df8)

print("List after removing duplicates are: ",result3)

List after removing duplicates are:  [3, 4, 6, 5]

In [ ]:
##41
df9 = [
    ('A', 'B', 'C', 'D'),
    ('B', 'C', 'C', 'I'),
    ('H', 'D', 'B', 'C'),
    ('C', 'C', 'G', 'F')
]

k = 2

def remove_consecutive_k_elements(df9, k):
  def has_consecutive_k_elements(tup, k):
    for i in range (len(tup) - k + 1 ):
      if all(tup[j] == tup[i] for j in range(i, i + k)):
        return True

  return[tup for tup in df9 if not has_consecutive_k_elements(tup, k)]

result5 = remove_consecutive_k_elements(df9, k)

print("List aftre removing consecutive k elements are: ",result5)

List aftre removing consecutive k elements are:  [('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

In [ ]:
##42
lst1 = ['Tutor Joes', 'Computer', 'Education']
lst2 = [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]

def replace_index_elements(lst1, lst2):
  result6 = [lst1[i] for i in lst2]
  return result6

result6 = replace_index_elements(lst1, lst2)

print("Original list: ",lst1)
print("Original list: ",lst2)
print("List of replaced index elements are: ",result6)

Original list:  ['Tutor Joes', 'Computer', 'Education']
Original list:  [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
List of replaced index elements are:  ['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

In [ ]:
##43
lst3= [ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ]
K = 5
N = 2


def retain_records_with_n_occurences(lst3, K, N):
  def count_occurences(tup, K):
    return sum(1 for x in tup if x==K)

  result7 = [tup for tup in lst3 if count_occurences(tup, K) == N]
  return result7

result7 = retain_records_with_n_occurences(lst3, K, N)

print("List after retaining records with N occurences of K is: ",result7)

List after retaining records with N occurences of K is:  [(4, 5, 6, 5, 4), (5, 5, 2)]

In [ ]:
##44
lt1 = ['Tutor', 'joes', 'Computer', 'Education']
lt2 = ['Tutor', "Joe's", 'Software', 'Solutions']

def swapping_elements(string_list, index1, index2):
  if index1 < 0 or index1 >= len(string_list) or index2 < 0 or index2 >= len(string_list):
    raise IndexError("Index out of Range")

  string_list[index1], string_list[index2] = string_list[index2], string_list[index1]

  return string_list

index1 = 1
index2 = 3

result_list1 = swapping_elements(lt1, index1, index2)
result_list2 = swapping_elements(lt2, index1, index2)


print("Original list 1: ", lt1)
print("Swapped list: ", result_list1)

print("Original list 2: ", lt2)
print("Swapped list: ", result_list2)

Original list 1:  ['Tutor', 'Education', 'Computer', 'joes']
Swapped list:  ['Tutor', 'Education', 'Computer', 'joes']
Original list 2:  ['Tutor', 'Solutions', 'Software', "Joe's"]
Swapped list:  ['Tutor', 'Solutions', 'Software', "Joe's"]

In [ ]:
##45
lt3 = ['Tutor', 'joes', 'Computer', 'Education']

def reverse_string_in_list(string_lists):
  reversed_strings = [s[::-1] for s in string_lists]
  return reversed_strings

def reverse_string(string_lists):
  return string_lists[::-1]

reversed_string_lists = reverse_string_in_list(lt3)
reversed_string = reverse_string(lt3)

print("Original list: " , lt3)
print("Reversed string list is: ", lt3)
print("Reversed string is: ", lt3)

Original list:  ['Tutor', 'joes', 'Computer', 'Education']
Reversed string list is:  ['Tutor', 'joes', 'Computer', 'Education']
Reversed string is:  ['Tutor', 'joes', 'Computer', 'Education']

In [ ]:
##46